.top-bar {
  height: 90px;
  background-color: $background-dark;
  .ui.grid {
    margin: 0;
    padding: 0;
    .column {
      padding: 0;
    }
  }
  &__left {
    display: flex !important;
    align-items: center;
    img {
      height: 50px;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-10px) translateX(-10px);
      }
    }
  }
  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    .ui.input {
      align-items: center;
      input {
        background-color: transparent !important;
        border: 0;
        border-bottom: 2px solid $primary !important;
        border-radius: 0;
        color: $font-light !important;
        padding: 5px 0;
        width: 220px;
        font-size: 20px;
        transition: width 0.7s;
        &:focus {
          width: 300px;
        }
      }
      input::selection {
        color: $font-dark;
        background: $background-gray;
      }
      i {
        color: $primary;
        font-size: 18px;
      }
    }
  }
}
